.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
}

.grid div {
    height: 40px;
    width: 40px;
}

.checked {
    background-color: red;
    color: cyan;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
}

.bomb {
    background-color: orange;
}